body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #8787871b;
}

a {
    text-decoration: none;
}

.primary-btn {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #EEBC07;
}

.primary-btn:hover {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.9s;
    background-color: tomato;
}

/* Header part start here */
/* ..................... */
header {
    padding-left: 130px;
    padding-right: 130px;
    background-color: #000000;
    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

header nav .logo img {
    width: 13vh;
    margin-top: 5px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    font-size: 16px;
    color: #ffffffdc;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-span {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #EEBC07;
}

.nav-span:hover {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: 0.9s;
    background-color: tomato;
}

/* Mobile Menu part start here */
/* ........................... */
.mobile-nav {
    display: none;
}

/* <!--Book a Table start here -->
<!-- .......................... --> */
.form-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-image: url("../img/section-pattern01.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.form-title {
    width: 23%;
    margin: auto;
    margin-top: -65px;
}

.form-span {
    color: #EEBC07;
}

.form-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    border-bottom: 5px dotted tomato;
}

.form-container-img img {
    width: 60%;
    margin-top: -20px;
    margin-left: 150px;
}

.form-container-content label {
    font-size: 14px;
    font-weight: 700;
}

.form-container-content {
    width: 65%;
}

.form-container-content input {
    padding: 15px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #EEBC07;
}

.form-container-content input:focus {
    font-size: 16px;
    color: #000000;
    padding: 15px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #EEBC07;
}

.star-style {
    color: #ff0000;
}

.form-container-content button {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: #EEBC07;
    border: 1px solid #000000;
}

.form-container-content button:hover {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.9s;
    background-color: tomato;
    border: 1px solid #000000;
}

.form-container-content h2 {
    font-size: 40px;
    font-weight: 600;
}

.form-container-content h6 {
    font-size: 14px;
    font-weight: 500;
}


/* <!--Footer start here -->
<!-- ................... --> */

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #000000;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 70px;
    margin-top: 30px;

}

.footer-logo img {
    width: 90px;
    text-align: center;
}

.social-icon {
    text-align: center;
}

.social-icon img {
    width: 25px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    filter: drop-shadow(3px 1px 2px rgba(255, 255, 255, 0.768));
}

.social-icon img:hover {
    width: 25px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    filter: drop-shadow(3px 4px 5px tomato);
    transition: 0.9s;
    transform: translateY(-8px);
}

.footer-logo {
    text-align: center;
}

.footer-page-logo {
    text-align: center;
}

footer h2 {
    color: #fffffff3;
}

footer p {
    color: #ffffffac;
}

.copyright {
    margin-top: 40px;
    text-align: center;
}


/* ................ .*/
/* ..Mobile Device ..*/
/* ................. */

@media(max-width:767px) {


    /* ############################ */
    /* Mobile Menu part start here */
    /* ############################ */

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #8787871b;
    }

    a {
        text-decoration: none;
    }

    .primary-btn {
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        font-weight: 600;
        background-color: #EEBC07;
    }

    .primary-btn:hover {
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        font-weight: 600;
        transition: 0.9s;
        background-color: tomato;
    }

    nav ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav-img img {
        width: 9vh;
        margin-top: -3px;
    }

    .mobile-nav-icon {
        text-align: end;
    }

    .mobile-nav-icon span {
        margin-top: -85px;
        color: white;
        font-size: 35px;
        cursor: pointer;
        background-color: #000000dd;
        width: 100%;
        float: right;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .overlay {
        width: 0;
        height: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #faf6f6;
        z-index: 1;
        overflow-x: hidden;
        transition: .4s;
    }

    .overlay-content a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .overlay-content a:hover {
        text-decoration: none;
        font-size: 16px;
        color: #747171;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .overlay-content {
        position: relative;
        top: 20%;
    }

    .closebtn {
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 40px;
        text-decoration: none;
        color: black;
    }

    /* Header part start here */
    header {
        padding-left: 20px;
        padding-right: 200px;


    }

    header nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;

    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: space-around;
        align-items: center;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul li a:hover {
        font-size: 16px;
        color: #ffffffdc;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }

    .nav-span {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        background-color: #EEBC07;
    }

    .nav-span:hover {
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        transition: 0.9s;
        background-color: tomato;
    }


    /* <!--Book a Table start here -->
<!-- .......................... --> */
    .form-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 0fr 0fr;
        background-image: url("../img/section-pattern01.png");
        background-repeat: no-repeat;
        background-size: cover;
        justify-items: center;
        margin-bottom: 50px;
        margin-top: 0px;
        margin-right: 20px;
    }

    .form-container-img{
        display: none;
    }

    .form-title {
        width: 66%;
        margin: auto;
    }

    .form-span {
        color: #EEBC07;
    }

    .form-title h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        border-bottom: 5px dotted tomato;
    }

    .form-container-img img {
        width: 60%;
        margin-top: 100px;
        margin-left: 130px;
    }

    .form-container-content label {
        font-size: 14px;
        font-weight: 700;
    }

    .form-container-content {
        width: 65%;
        margin-left: 20px
    }

    .form-container-content input {
        padding: 15px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: none;
        border-bottom: 3px solid #EEBC07;
    }

    .form-container-content input:focus {
        font-size: 14px;
        color: #000000;
        padding: 15px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: none;
        border-bottom: 3px solid #EEBC07;
    }

    .star-style {
        color: #ff0000;
    }

    .form-container-content button {
        color: #ffffff !important;
        font-size: 14px;
        font-weight: 700;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        background-color: #EEBC07;
        border: 1px solid #000000;
    }

    .form-container-content button:hover {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        font-weight: 600;
        transition: 0.9s;
        background-color: tomato;
        border: 1px solid #000000;
    }

    .form-container-content h2 {
        font-size: 40px;
        font-weight: 600;
    }

    .form-container-content h6 {
        font-size: 14px;
        font-weight: 500;
    }

    /* <!--Footer start here -->
<!-- ................... --> */

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        background-color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: center;
    }

    .footer-logo img {
        width: 70px;
        text-align: center;
    }

    .social-icon {
        text-align: center;
    }

    .social-icon img {
        width: 15px;
        margin-left: 10px;
        border: 2px solid #ffffff;
        border-radius: 100px;
        filter: drop-shadow(3px 1px 2px rgba(255, 255, 255, 0.768));
    }

    .social-icon img:hover {
        width: 15px;
        margin-left: 10px;
        border: 2px solid #ffffff;
        border-radius: 100px;
        filter: drop-shadow(3px 4px 5px tomato);
        transition: 0.9s;
        transform: translateY(-8px);
    }

    .footer-logo {
        text-align: center;
    }

    .footer-page-logo {
        text-align: center;
    }

    footer h2 {
        font-size: 18px;
        color: #fffffff3;
    }

    footer p {
        font-size: 12px;
        color: #ffffffac;
    }

    .copyright {
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }

    .order-logo {
        flex: 1;
        order: 1;
    }

}